@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&display=swap');

.gallery-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    /* will-change: transform; */
}
.image-wrapper {
    width: 65vw;
    height: 80vh;
    /* aspect-ratio: 16/9; */
}
.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.description {
    line-height: 7vw;
    position: absolute;
    bottom: 3%;
    left: -20%;
}
.description div:nth-child(1) {
    font-family: var(--secondary-font);
    font-size: 7vw;
    text-transform: capitalize;
    font-weight: 500;
}

.description div:nth-child(2) {
    font-family: 'Bodoni Moda', serif;
    font-size: 7vw;
    text-transform: capitalize;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 2px var(--text-stroke-color);
}
.description div:nth-child(3) {
    text-transform: capitalize;
    font-size: 1.8vw;
    font-weight: 500;
    font-family: var(--secondary-font);
    margin-top: -2vw;
}
